<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="de.hec.movie.MovieLister">
		<constructor-arg name="finder" ref="jsonFinder"/>
	</bean>

	<bean class="de.hec.movie.finder.MovieCsvFinderImpl" name="csvFinder"/>
	<bean class="de.hec.movie.finder.MovieJsonFinder" name="jsonFinder"/>
	<bean class="de.hec.movie.finder.MovieXmlFinderImpl" name="xmlFinder"/>
</beans>
